# Part I. ETL Pipeline for Pre-Processing the Files

## PLEASE RUN THE FOLLOWING CODE FOR PRE-PROCESSING THE FILES

#### Import Python packages

In [1]:
# Import Python packages 
import pandas as pd
import cassandra
import re
import os
import glob
import numpy as np
import json
import csv

#### Creating list of filepaths to process original event csv data files

In [2]:
# checking your current working directory
print(os.getcwd())

# Get your current folder and subfolder event data
filepath = os.getcwd() + '/event_data'

# Create a for loop to create a list of files and collect each filepath
for root, dirs, files in os.walk(filepath):
    
# join the file path and roots with the subdirectories using glob
    file_path_list = glob.glob(os.path.join(root,'*'))
    #print(file_path_list)

D:\Data Engineering\Data-Modeling-with-Cassandra

In [3]:
file_path_list

['D:\\Data Engineering\\Data-Modeling-with-Cassandra/event_data\\2018-11-01-events.csv',
 'D:\\Data Engineering\\Data-Modeling-with-Cassandra/event_data\\2018-11-02-events.csv',
 'D:\\Data Engineering\\Data-Modeling-with-Cassandra/event_data\\2018-11-03-events.csv',
 'D:\\Data Engineering\\Data-Modeling-with-Cassandra/event_data\\2018-11-04-events.csv',
 'D:\\Data Engineering\\Data-Modeling-with-Cassandra/event_data\\2018-11-05-events.csv',
 'D:\\Data Engineering\\Data-Modeling-with-Cassandra/event_data\\2018-11-06-events.csv',
 'D:\\Data Engineering\\Data-Modeling-with-Cassandra/event_data\\2018-11-07-events.csv',
 'D:\\Data Engineering\\Data-Modeling-with-Cassandra/event_data\\2018-11-08-events.csv',
 'D:\\Data Engineering\\Data-Modeling-with-Cassandra/event_data\\2018-11-09-events.csv',
 'D:\\Data Engineering\\Data-Modeling-with-Cassandra/event_data\\2018-11-10-events.csv',
 'D:\\Data Engineering\\Data-Modeling-with-Cassandra/event_data\\2018-11-11-events.csv',
 'D:\\Data Engineering\\Data-Modeling-with-Cassandra/event_data\\2018-11-12-events.csv',
 'D:\\Data Engineering\\Data-Modeling-with-Cassandra/event_data\\2018-11-13-events.csv',
 'D:\\Data Engineering\\Data-Modeling-with-Cassandra/event_data\\2018-11-14-events.csv',
 'D:\\Data Engineering\\Data-Modeling-with-Cassandra/event_data\\2018-11-15-events.csv',
 'D:\\Data Engineering\\Data-Modeling-with-Cassandra/event_data\\2018-11-16-events.csv',
 'D:\\Data Engineering\\Data-Modeling-with-Cassandra/event_data\\2018-11-17-events.csv',
 'D:\\Data Engineering\\Data-Modeling-with-Cassandra/event_data\\2018-11-18-events.csv',
 'D:\\Data Engineering\\Data-Modeling-with-Cassandra/event_data\\2018-11-19-events.csv',
 'D:\\Data Engineering\\Data-Modeling-with-Cassandra/event_data\\2018-11-20-events.csv',
 'D:\\Data Engineering\\Data-Modeling-with-Cassandra/event_data\\2018-11-21-events.csv',
 'D:\\Data Engineering\\Data-Modeling-with-Cassandra/event_data\\2018-11-22-events.csv',
 'D:\\Data Engineering\\Data-Modeling-with-Cassandra/event_data\\2018-11-23-events.csv',
 'D:\\Data Engineering\\Data-Modeling-with-Cassandra/event_data\\2018-11-24-events.csv',
 'D:\\Data Engineering\\Data-Modeling-with-Cassandra/event_data\\2018-11-25-events.csv',
 'D:\\Data Engineering\\Data-Modeling-with-Cassandra/event_data\\2018-11-26-events.csv',
 'D:\\Data Engineering\\Data-Modeling-with-Cassandra/event_data\\2018-11-27-events.csv',
 'D:\\Data Engineering\\Data-Modeling-with-Cassandra/event_data\\2018-11-28-events.csv',
 'D:\\Data Engineering\\Data-Modeling-with-Cassandra/event_data\\2018-11-29-events.csv',
 'D:\\Data Engineering\\Data-Modeling-with-Cassandra/event_data\\2018-11-30-events.csv']

#### Processing the files to create the data file csv that will be used for Apache Casssandra tables

In [4]:
# initiating an empty list of rows that will be generated from each file
full_data_rows_list = [] 
    
# for every filepath in the file path list 
for f in file_path_list:

# reading csv file 
    with open(f, 'r', encoding = 'utf8', newline='') as csvfile: 
        # creating a csv reader object 
        csvreader = csv.reader(csvfile) 
        next(csvreader)
        
 # extracting each data row one by one and append it        
        for line in csvreader:
            #print(line)
            full_data_rows_list.append(line) 
            
# uncomment the code below if you would like to get total number of rows 
#print(len(full_data_rows_list))
# uncomment the code below if you would like to check to see what the list of event data rows will look like
#print(full_data_rows_list)

# creating a smaller event data csv file called event_datafile_full csv that will be used to insert data into the \
# Apache Cassandra tables
csv.register_dialect('myDialect', quoting=csv.QUOTE_ALL, skipinitialspace=True)

with open('event_datafile_new.csv', 'w', encoding = 'utf8', newline='') as f:
    writer = csv.writer(f, dialect='myDialect')
    writer.writerow(['artist','firstName','gender','itemInSession','lastName','length',\
                'level','location','sessionId','song','userId'])
    for row in full_data_rows_list:
        if (row[0] == ''):
            continue
        writer.writerow((row[0], row[2], row[3], row[4], row[5], row[6], row[7], row[8], row[12], row[13], row[16]))

In [5]:
# check the number of rows in your csv file
with open('event_datafile_new.csv', 'r', encoding = 'utf8') as f:
    print(sum(1 for line in f))

6821

# Part II. Complete the Apache Cassandra coding portion of your project. 

## Now you are ready to work with the CSV file titled <font color=red>event_datafile_new.csv</font>, located within the Workspace directory.  The event_datafile_new.csv contains the following columns: 
- artist 
- firstName of user
- gender of user
- item number in session
- last name of user
- length of the song
- level (paid or free song)
- location of the user
- sessionId
- song title
- userId

The image below is a screenshot of what the denormalized data should appear like in the <font color=red>**event_datafile_new.csv**</font> after the code above is run:<br>

<img src="images/image_event_datafile_new.jpg">

## Begin writing your Apache Cassandra code in the cells below

#### Creating a Cluster

In [7]:
from cassandra.cluster import Cluster
try: 
    cluster = Cluster(['127.0.0.1'])
    session = cluster.connect()
except Exception as e:
    print(e)

#### Create Keyspace

In [8]:
# Create a Keyspace
session.execute(
    """
    CREATE KEYSPACE IF NOT EXISTS modeling
    WITH REPLICATION = { 'class' : 'SimpleStrategy', 'replication_factor' : 1 }
    """
);

#### Set Keyspace

In [9]:
# Set KEYSPACE to the keyspace specified above
try:
    session.set_keyspace('modeling')
except Exception as e:
    print(e)

### Now we need to create tables to run the following queries. Remember, with Apache Cassandra you model the database tables on the queries you want to run.

## Create queries to ask the following three questions of the data

### 1. Give me the artist, song title and song's length in the music app history that was heard during  sessionId = 338, and itemInSession  = 4


### 2. Give me only the following: name of artist, song (sorted by itemInSession) and user (first and last name) for userid = 10, sessionid = 182
    

### 3. Give me every user name (first and last) in my music app history who listened to the song 'All Hands Against His Own'

In [20]:
## Query 1:  Give me the artist, song title and song's length in the music app history that was heard during \
## sessionId = 338, and itemInSession = 4

query1 = "SELECT artist, song_title, song_length FROM songs_1 WHERE session_id = 338 AND item_in_session = 4"

In [11]:
session.execute(
    """
    DROP TABLE IF EXISTS songs_1
    """
);
session.execute(
    """
    CREATE TABLE IF NOT EXISTS songs_1
    (artist varchar, song_title varchar, song_length float, session_id int,
    item_in_session int, PRIMARY KEY(session_id, item_in_session))
    """
);

In [12]:
# We have provided part of the code to set up the CSV file. Please complete the Apache Cassandra code below#
file = 'event_datafile_new.csv'
lines = []
with open(file, encoding = 'utf8') as f:
    csvreader = csv.reader(f)
    next(csvreader) # skip header
    for line in csvreader:
        lines.append(line)

In [13]:
file = 'event_datafile_new.csv'

In [14]:
lines[6]

['Girl Talk',
 'Kaylee',
 'F',
 '8',
 'Summers',
 '160.15628',
 'free',
 'Phoenix-Mesa-Scottsdale, AZ',
 '139',
 'Once again',
 '8']

In [15]:
import pandas as pd
for i, c in enumerate(pd.read_csv(file).columns):
    print(c, i)

artist 0
firstName 1
gender 2
itemInSession 3
lastName 4
length 5
level 6
location 7
sessionId 8
song 9
userId 10

In [16]:
df = pd.read_csv(file)

In [17]:
df[df.sessionId == 388]

,artist,firstName,gender,itemInSession,lastName,length,level,location,sessionId,song,userId
1236,Pulp,Matthew,M,1,Jones,244.08771,free,"Janesville-Beloit, WI",388,Babies,36

In [18]:
# We have provided part of the code to set up the CSV file. Please complete the Apache Cassandra code below#
file = 'event_datafile_new.csv'

with open(file, encoding = 'utf8') as f:
    csvreader = csv.reader(f)
    next(csvreader) # skip header
    for line in csvreader:
        query = "INSERT INTO songs_1 (artist, song_title, song_length, session_id, item_in_session)"
        query = query + " VALUES (%s, %s, %s, %s, %s)"
        session.execute(query, (line[0], line[9], float(line[5]), int(line[8]), int(line[3])))

#### Do a SELECT to verify that the data have been inserted into each table

In [21]:
rows = session.execute(query1)
for x in rows:
    print(x)

Row(artist='Faithless', song_title='Music Matters (Mark Knight Dub)', song_length=495.30731201171875)

### COPY AND REPEAT THE ABOVE THREE CELLS FOR EACH OF THE THREE QUESTIONS

In [23]:
## TO-DO: Query 2: Give me only the following: name of artist, song (sorted by itemInSession) and user (first and last name)\
## for userid = 10, sessionid = 182
query2 = 'SELECT artist, song_title, first_name, last_name FROM songs_2 WHERE userid = 10 AND sessionid = 182'

In [24]:
## TO-DO: Query 3: Give me every user name (first and last) in my music app history who listened to the song 'All Hands Against His Own'
query3 = """SELECT first_name, last_name FROM songs_3 WHERE song_name = 'All Hands Against His Own'"""

In [25]:
session.execute(
    """
    DROP TABLE IF EXISTS songs_2
    """
);
session.execute(
    """
    CREATE TABLE IF NOT EXISTS songs_2
    (artist varchar, song_title varchar, first_name varchar, last_name varchar,
    userid int, sessionid int, PRIMARY KEY(userid, sessionid))
    """
);

In [26]:
import pandas as pd
for i, c in enumerate(pd.read_csv(file).columns):
    print(c, i)

artist 0
firstName 1
gender 2
itemInSession 3
lastName 4
length 5
level 6
location 7
sessionId 8
song 9
userId 10

In [28]:
with open(file, encoding="utf8") as f:
    csvreader = csv.reader(f)
    next(csvreader)  # skip header
    for line in csvreader:
        query = "INSERT INTO songs_2 (artist, song_title, first_name, last_name, userid, sessionid) "
        query = query + " VALUES (%s, %s, %s, %s, %s, %s)"
        session.execute(
            query, (line[0], line[9], line[1], line[4], int(line[10]), int(line[8]))
        )

In [29]:
rows = session.execute(query2)
for x in rows:
    print(x)

Row(artist='Lonnie Gordon', song_title='Catch You Baby (Steve Pitron & Max Sanna Radio Edit)', first_name='Sylvie', last_name='Cruz')

In [30]:
session.execute(
    """
    DROP TABLE IF EXISTS songs_3
    """
);
session.execute(
    """
    CREATE TABLE IF NOT EXISTS songs_3
    (first_name varchar, last_name varchar, song_name varchar, PRIMARY KEY(song_name))
    """
);

In [31]:
import pandas as pd
for i, c in enumerate(pd.read_csv(file).columns):
    print(c, i)

artist 0
firstName 1
gender 2
itemInSession 3
lastName 4
length 5
level 6
location 7
sessionId 8
song 9
userId 10

In [33]:
with open(file, encoding="utf8") as f:
    csvreader = csv.reader(f)
    next(csvreader)  # skip header
    for line in csvreader:
        query = "INSERT INTO songs_3 (first_name, last_name, song_name) "
        query = query + " VALUES (%s, %s, %s)"
        session.execute(query, (line[1], line[4], line[9]))

In [34]:
rows = session.execute(query3)
for x in rows:
    print(x)

Row(first_name='Tegan', last_name='Levine')

### Drop the tables before closing out the sessions

In [35]:
session.execute(
    """
    DROP TABLE IF EXISTS songs_1
    """
);
session.execute(
    """
    DROP TABLE IF EXISTS songs_2
    """
);
session.execute(
    """
    DROP TABLE IF EXISTS songs_3
    """
);

### Close the session and cluster connectionÂ¶

In [36]:
session.shutdown()
cluster.shutdown()